:root {
  box-sizing: border-box;
}
body {
  padding: 20px;
  width: 1000px;
  height: auto;

  margin: 0 auto;
  overflow: visible;
}
.home {
  border: 20px solid grey;
  padding: 20px 20px 20px 100px;
}

ul {
    position: relative;
    left: 700px;
}

.h1 font{
    font-family: "Open Sans";
  position: absolute;
  left: 495px;
}

.nav {
  display: grid;
  grid-template-columns: 300px 700px;
  height: 100px;
  width: 1000px;
  background-color: white;
  background-image: url("../images/edulight.jpg");
  background-position: left;
  background-repeat: no-repeat;
  z-index: 100;
}

li {
  list-style: none;
  padding: 20px;
  margin: 0 10px;
  border: 1px solid black;
  display: inline-block;
  text-decoration-line: none;
  background-color: purple;
  position: relative;
  /* left: -150px; */
  top: 20px;
  border-bottom: 5px;
}

a {
  text-decoration: none;
  color: white;
}

h1 {
    text-align: center;
    padding: 200px 5px;
    background-color: purple;
    color: white;
    font-size: 60px;
    background-image: url("../images/tech\ future.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

sub {
  position: relative;
  left: 600px;
  bottom: 20px;
  font-size: 20px;
  font-style: italic;
  color: purple;
}
h3[class="ict-training"] {
  padding-top: 20px;
  color: rgb(34, 34, 146);
  text-align: left;
}

#about {
    text-align: left, bottom; padding-block-end: 0%;
    padding: 200px 1px;
    color: whitesmoke;
    font-size: 45px;
    background-image: url("../images/cbd.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#accolade {
    color:limegreen;
    font-family: fantasy;
    background-color: purple;
    backface-visibility: unset;
    [Edulight]:
}

#contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: purple;
  color: white;
  padding: 0 30px;
  border-top: 0px;
  overflow: hidden;
}

.phone > img {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  position: relative;
  left: 40px;
  bottom: 25px;
  border: 5px solid green;
  z-index: 200;
}

#services {
  display: grid;
  background-image: url("../images/tech\ student.jpg");

  text-align: left;

  padding: 0px;
  background-position: right;
  background-repeat: no-repeat;
  background-size: 50% 90%;
}

#title {
  text-align: center;
  color: purple;
  font-size: 20px;
}

h3[class="it-solutions"] {
  color: rgb(88, 88, 175);
}

h3[class="business-solutions"] {
  color: rgb(22, 80, 22);
}

p {
  width: 600px;
}

#green {
  background-color: rgb(94, 226, 94);
  padding: 0px;
  border: 1px solid transparent;
}

img {
  border-radius: 50%;
  border: 2px solid grey;

  float: left;
  width: 50px;
}
