:root {
    box-sizing: border-box;
}
body {
    padding: 20px;
    width: 1000px;
    height: auto;
    border: 1px solid red;
    margin: 0 auto;
}
.home {
    border: 20px solid grey;
    padding: 20px 20px 20px 100px;
}

ul {
    position: relative;
    left: 700px;
    
}

li {
    list-style: none;
    padding: 5px;
    border: 1px solid black;
    display: inline-block;
    text-decoration-line: none;
    background-color: purple;
}

a {
    text-decoration: none;
    color: white;
}

h1 {
    text-align: center;
    padding: 200px 5px;
    background-color: purple;
    color: white;
}

sub {
    position: relative;
    left: 600px;
    bottom: 20px;
    font-size: 17px;
    font-style: italic;
    color: purple;
}
h3[class="ict-training"] {
    color: rgb(57, 57, 77);
}

h3[class="it-solutions"] {
    color: rgb(88, 88, 175);
}

h3[class="business-solutions"] {
    color: rgb(22, 80, 22);
}

p {
    width: 750px;
}